<a href="https://colab.research.google.com/github/angeldelantar/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
import time
week = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  print(day)
  time.sleep(1)

Sunday
Monday
Teusday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
import time
week = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  print(day)
  time.sleep(1)
  if day == "Thursday":     #Prints Sunday to Thurday
    break

Sunday
Monday
Teusday
Wednesday
Thursday

In [ ]:
import time
week = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  if day == "Thursday":     #Prints Sunday to Wednesday
    break
  print(day)
  time.sleep(1)

Sunday
Monday
Teusday
Wednesday

In [ ]:
import time
week = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  if day == "Thursday":     #Prints Thursday
    print(day)

Thursday

In [ ]:
#To display only tuesday and wednesday using break statement
import time
week = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  if day == "Teusday":
    print(day)
  elif day == "Wednesday":
    print(day)

Teusday
Wednesday

Loop in String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "stawberry", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red stawberry
red cherry
big apple
big stawberry
big cherry
tasty apple
tasty stawberry
tasty cherry

While Loops

In [ ]:
i = 0

while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

In [ ]:
#using break statement
i = 0

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [ ]:
#Show only 3
i = 0

while i < 6:
  if i == 3:
    print(i)
    break
  i += 1

3

Else Statement

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("error")

1
2
3
4
5
error

Lets try!

In [ ]:
x = 0

while x <= 10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [ ]:
x = 1

while x < 10:
  if x > 2:
    print(x)
  x += 1

3
4
5
6
7
8
9